	<!-- Cart -->

	<div class="cart_section">
		<div class="container">
			<div class="row">
				<div class="col-lg-10 offset-lg-1">
					<div class="cart_container">
						<div class="cart_title">Giỏ hàng</div>
						<div class="cart_items">
							<ul class="cart_list">
								{% for item in cart_item %}
								<li class="cart_item clearfix">
									<div class="cart_item_image"><img src="/media/{{ item.item.product.product_img }}" alt=""></div>
									<div class="cart_item_info d-flex flex-md-row flex-column justify-content-between">
										<div class="cart_item_name cart_info_col">
											<div class="cart_item_title">Tên</div>
											<div class="cart_item_text">{{ item.item.title }}</div>
										</div>
										<div class="cart_item_quantity cart_info_col">
											<div class="cart_item_title">Số lượng</div>
											<div class="cart_item_text">{{ item.quantity }}</div>
										</div>
										<div class="cart_item_price cart_info_col">
											<div class="cart_item_title">giá</div>
											<div class="cart_item_text">{{ item.item.price }}</div>
										</div>
										<div class="cart_item_total cart_info_col">
											<div class="cart_item_title">Tổng</div>
											<div class="cart_item_text"> {{ item.get_total_price }} VNĐ</div>
										</div>
										<div class="cart_item_price cart_info_col">
											<div class="cart_item_title"></div>
											{% if not request.user.is_authenticated %}
											<div class="cart_item_text"><button onclick="del_cart({{ item.id }})">Xóa</button></div>
											{% else %}
											<div class="cart_item_text"><button onclick="del_cart_user({{ item.id }})">Xóa</button></div>
											{% endif %}

										</div>
									</div>
								</li>
								{% endfor %}
							</ul>
						</div>

						<!-- Order Total -->
						<div class="order_total">
							<div class="order_total_content text-md-right">
								<div class="order_total_title">Tổng hóa đơn:</div>
								<div class="order_total_amount">{{ global_data.total_price }}</div>
							</div>
						</div>

						<div class="cart_buttons">

							<a href="{% url 'order:checkout' %}"  class="button cart_button_checkout">Thanh toán</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
