{% extends 'homepage/base.html' %}
{% load static %}

{% block cssblock %}
<link rel="stylesheet" type="text/css" href="{% static 'homepage/styles/bootstrap-4.1.2/bootstrap.min.css' %}">
<link href="{% static 'homepage/plugins/font-awesome-4.7.0/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="{% static 'homepage/styles/cart.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'homepage/styles/cart_responsive.css' %}">
{% endblock %}
{% block content %}
<div class="super_container">
{% include 'homepage/card.html' %}
</div>
{% endblock %}
{% block jsblock %}
<script src="{% static 'homepage/js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'homepage/styles/bootstrap-4.1.2/popper.js' %}"></script>
<script src="{% static 'homepage/styles/bootstrap-4.1.2/bootstrap.min.js' %}"></script>
<script src="{% static 'homepage/plugins/greensock/TweenMax.min.js' %}"></script>
<script src="{% static 'homepage/plugins/greensock/TimelineMax.min.js' %}"></script>
<script src="{% static 'homepage/plugins/scrollmagic/ScrollMagic.min.js' %}"></script>
<script src="{% static 'homepage/plugins/greensock/animation.gsap.min.js' %}"></script>
<script src="{% static 'homepage/plugins/greensock/ScrollToPlugin.min.js' %}"></script>
<script src="{% static 'homepage/plugins/easing/easing.js' %}"></script>
<script src="{% static 'homepage/plugins/parallax-js-master/parallax.min.js' %}"></script>
<script src="{% static 'homepage/js/cart.js' %}"></script>
<script src="{% static 'homepage/js/myscript.js' %}"></script>
{% endblock %}

