{% load static %}

<!-- -&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->

	<!-- Product -->

		<div class="product">
			<div class="container">
				<div class="row">

					<!-- Product Image -->
					<div class="col-lg-6">
						<div class="product_image_slider_container">
							<div id="slider" class="flexslider">
								<ul class="slides">
									<li>
										<img src="/media/{{ variation.product.product_img }}" />
									</li>
									<li>
										<img src="/media/{{ variation.product.product_img }}" />
									</li>
									<li>
										<img src="/media/{{ variation.product.product_img }}" />
									</li>
									<li>
										<img src="/media/{{ variation.product.product_img }}" />
									</li>
									<li>
										<img src="/media/{{ variation.product.product_img }}" />
									</li>
									<li>
										<img src="/media/{{ variation.product.product_img }}" />
									</li>
									<li>
										<img src="/media/{{ variation.product.product_img }}" />
									</li>
									<li>
										<img src="/media/{{ variation.product.product_img }}" />
									</li>
								</ul>
							</div>
							<div class="carousel_container">
								<div id="carousel" class="flexslider">
									<ul class="slides">
										<li>
											<div><img src="/media/{{ variation.product.product_img }}" /></div>
										</li>
										<li>
											<div><img src="/media/{{ variation.product.product_img }}" /></div>
										</li>
										<li>
											<div><img src="/media/{{ variation.product.product_img }}" /></div>
										</li>
										<li>
											<div><img src="/media/{{ variation.product.product_img }}" /></div>
										</li>
										<li>
											<div><img src="/media/{{ variation.product.product_img }}" /></div>
										</li>
										<li>
											<div><img src="/media/{{ variation.product.product_img }}" /></div>
										</li>
										<li>
											<div><img src="/media/{{ variation.product.product_img }}" /></div>
										</li>
										<li>
											<div><img src="/media/{{ variation.product.product_img }}" /></div>
										</li>
									</ul>
								</div>
								<div class="fs_prev fs_nav disabled"><i class="fa fa-chevron-up" aria-hidden="true"></i></div>
								<div class="fs_next fs_nav"><i class="fa fa-chevron-down" aria-hidden="true"></i></div>
							</div>
						</div>
					</div>

					<!-- Product Info -->
					<div class="col-lg-6 product_col">
						<div class="product_info">
							<div class="product_name">{{ variation.product.description }}</div>
							<div class="product_category">{{ variation.product.category.title }}</div>
							<div class="product_rating_container d-flex flex-row align-items-center justify-content-start">
								<div class="rating_r rating_r_4 product_rating"><i></i><i></i><i></i><i></i><i></i></div>
								<div class="product_reviews">4.7 out of (3514)</div>
								<div class="product_reviews_link"><a href="#">Reviews</a></div>
							</div>
							<div class="product_price">{{ variation.price }} VNĐ</div>
							<div class="product_size">


							</div>
							<div class="product_text">
								<p>{{ variation.product.description }} </p>
							</div>
							<div class="product_buttons">
								<div class="text-right d-flex flex-row align-items-start justify-content-start">

									<div class="product_button product_cart text-center d-flex flex-column align-items-center justify-content-center">
										<div onclick="add_cart({{ variation.id }}, 1);"><div><img src="{% static 'homepage/images/cart.svg' %}" class="svg" alt=""><div>+</div></div></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
