{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="{% static 'homepage/css/bootstrap.min.css' %}" rel="stylesheet"/>
</head>
<body>
<center>
<div class="jumbotron text-xs-center">
  <h1 class="display-3">Thank You!</h1>
  <p class="lead"><strong>Chúng tôi sẽ gọi cho bạn</strong>{{ message }}</p>
  <hr>
  <p>
    Khiếu lại? <a href="">Liên hệ ngay</a>
  </p>
  <p class="lead">

  </p>
</div>
</center>
</body>
</html>

